
.DS_Store

.idea/

*.iml

*.class

*.jar

plugin/target

api/target

*.lst

*.properties

plugin/dependency-reduced-pom.xml

.project

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.m2e.core.prefs

.vscode/settings.json

api/.classpath

api/.settings/org.eclipse.core.resources.prefs

api/.settings/org.eclipse.jdt.apt.core.prefs

api/.settings/org.eclipse.jdt.core.prefs

api/.settings/org.eclipse.m2e.core.prefs

plugin/.classpath

plugin/.factorypath

plugin/.settings/org.eclipse.core.resources.prefs

plugin/.settings/org.eclipse.jdt.apt.core.prefs

plugin/.settings/org.eclipse.jdt.core.prefs

plugin/.settings/org.eclipse.m2e.core.prefs

v1_12_2_down/.classpath

v1_12_2_down/.settings/org.eclipse.core.resources.prefs

v1_12_2_down/.settings/org.eclipse.jdt.apt.core.prefs

v1_12_2_down/.settings/org.eclipse.jdt.core.prefs

v1_12_2_down/.settings/org.eclipse.m2e.core.prefs

v1_13_up/.classpath

v1_13_up/.factorypath

v1_13_up/.settings/org.eclipse.core.resources.prefs

v1_13_up/.settings/org.eclipse.jdt.apt.core.prefs

v1_13_up/.settings/org.eclipse.jdt.core.prefs

v1_13_up/.settings/org.eclipse.m2e.core.prefs
